{
  "extends": "eslint-config-ali",
  "globals": {
    "it": true,
    "describe": true,
    "require": true,
    "process": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "define": true,
    "$": true,
    "goldlog": true,
    "WindVane": true,
    "__weex_data__": true,
    "__weex_options__": true,
    "__weex_downgrade__": true,
    "__weex_define__": true,
    "__weex_require__": true,
    "WXEnvironment": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "@ali/tbfed",
    "@ali/comments"
  ],
  "rules": {
    "@ali/comments/comments-no-chinese": 1,
    "@ali/tbfed/no-base64": 1,
    "@ali/tbfed/prefer-conditional": 1,
    "@ali/tbfed/no-unused-dependence": [
      1,
      {
        "ignorePatterns": [
          {
            "modulePattern": ".+",
            "importPattern": [
              "^createElement$"
            ]
          }
        ]
      }
    ],
    "@ali/tbfed/member-blacklist": [
      1,
      "Collator",
      "DateTimeFormat",
      "NumberFormat",
      "getCanonicalLocales",
      "localeCompare",
      "toLocaleString",
      "toLocaleDateString",
      "toLocaleTimeString"
    ],
    "@ali/tbfed/prefer-map": 1,
    "strict": "off",
    "new-cap": "off",
    "no-new": "warn",
    "no-mixed-operators": "off",
    "no-useless-escape": "off",
    "no-cond-assign": "off",
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "function-paren-newline": [
      "error",
      "multiline"
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false,
        "varsIgnorePattern": "createElement"
      }
    ],
    "class-methods-use-this": "off"
  },
  "parser": "babel-eslint"
}
